<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ua.pb.task.manager.repository.mapper.UserMapper" >

    <resultMap id="getUserDtoResultMap" type="ua.pb.task.manager.model.dto.UserDto">
        <id property="id" column="users.id"/>
        <result property="email" column="emails.email"/>
        <result property="role" column="roles.role" javaType="ua.pb.task.manager.model.Role" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
    </resultMap>

    <select id="findByEmail" resultMap="getUserDtoResultMap">
        select * from USERS users
        INNER JOIN EMAILS emails
        on users.id = emails.user_id
        INNER JOIN ROLES roles
        on  users.id = roles.user_id
        WHERE emails.email = #{email}
    </select>

    <insert id="storeUser" parameterType="ua.pb.task.manager.model.User">
        INSERT INTO USERS(ID) VALUES (#{id});
    </insert>

    <insert id="storeRoles" parameterType="ua.pb.task.manager.model.User">
        <foreach item="role" index="index" collection="roles">
            INSERT INTO ROLES (user_id, role) VALUES (#{id}, #{role});
        </foreach>
    </insert>

    <insert id="storeEmails" parameterType="ua.pb.task.manager.model.User">
        <foreach item="email" index="index" collection="emails">
            INSERT INTO EMAILS (user_id, email) VALUES (#{id}, #{email});
        </foreach>
    </insert>

</mapper>